# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Firebase private credentials
backend/firebase-service-account.json

# Builds
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

coverage/
.DS_Store
*.log
